<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <app-vol-form></app-vol-form>
    </div>
    <div class="col-lg-6">
      <div class="vol-header">
        <h4>Volunteer Info</h4>
        <hr>
        <p>
          As a nonprofit, we depend on people to give a small amount of time
           to save a large amount of animals. Looking for people with big hearts
            to join our team!
          </p>
          <hr>

      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-4">

    </div>
    <div class="col-lg-6">

    </div>
    <div class="col-lg-2">

    </div>

  </div>

</div>
