/* VolunteerComponent's private CSS styles */
* {
 /*box-sizing: border-box;
   border: 1px solid red;*/
}
.about-header {
  text-align: center;
  padding-left: 0%;
  color: #4E6172;

}
hr {
  border: 2px solid #4E6172;
  border-radius: 5px;
}

.vol-header {
  text-align: center;
  margin-bottom: 5%;
  color: #4E6172;
}
