<div class="header">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
        <h1>{{ title }}   <img src="assets/img/wildplanet_logo.png"></h1>
        </div>
        <div class="col-lg-5">
        </div>
        <div class="col-lg-3">
          <div class="quote">
          <h4>{{ quote }}</h4>
          </div>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <div class="nav">
        <nav>
          <a routerLink="/home" routerLinkActive="active" >Home</a>
          <a routerLink = "/donate" routerLinkActive="active">Donate</a>
          <a routerLink = "/surrender" routerLinkActive="active">Surrender</a>
          <a routerLink = "/volunteer" routerLinkActive="active">Volunteer</a>
          <a routerLink = "/adopt" routerLinkActive="active">Adopt</a>
        </nav>
        </div>
      </div>
    </div>
</div>
</div>
