* {
/*  box-sizing: border-box;
   border: 1px solid red; */
}
h1 {
  padding-left: 5%
}

h4 {
  font-family: Freestyle Script;
}

.header {
      position: relative;
      margin-bottom: 2%;
      margin-top: -1%;
      margin-left: -1.1%;
      margin-right: -1.1%;
      padding:2%;
      padding-bottom: 2%;
      height: 10%;
      background-color: #668D3C;
      color: white;
      text-align: left;
}
.quote {
  margin-left: 10%;
  margin-top: 18%;
  padding: 1%;
}

/*nav bar */
nav a {
  padding: 10px 50px;
  text-decoration: none;
  margin-top: 10px;
  margin: 5px;
  display: inline-block;
  background-color: #BDD09F;
  border-radius: 4px;
  color:#4E6172;
  font-weight: bold;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #4E6172;
  background-color: #cfd8dc;
}
nav a.active {
  color: white;
  background-color: #4E6172;
}

hr {
  border: 2px solid white;
  border-radius: 5px;

}
