/* colors
#4E6172 - grey
#404F24 - dark green
#668D3C - green
#BDD09F - light green
*/
a {
  color:white;
  padding: 1%;
}
 a.active {
  color: white;
  background-color: #4E6172;
  border-radius: 10%;
}
.footer {
    height: 10%;
    background-color: #668D3C;
    color: white;
    text-align: center;
    position: relative;
    margin-top: 2%;
    margin-left: -1.1%;
    margin-right: -2.2%;
    padding: 2%;
}

hr {
  border: 2px solid white;
  border-radius: 5px;

}
