
<div class="container-fluid">
  <div class="footer">
    <div class="row">
      <div class="col-lg-4">

      </div>
      <div class="col-lg-4">
          <a routerLink ="/about" routerLinkActive="active">About</a>
          <a routerLink = "/contact">Contact Us</a>
      </div>

      <div class="col-lg-4">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <hr>
      </div>
      </div>
    <div class="row">
      <div class="col-lg-4">

      </div>
      <div class="col-lg-4">
        {{ mission }}
      </div>
      <div class="col-lg-4">

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <hr>
        <p>© 2018 Wild Planet</p>
      </div>
      </div>
  </div>
</div>
