/* aboutComponent's private CSS styles */
* {
/* box-sizing: border-box;
   border: 1px solid red; */
}
.about-header {
  text-align: center;
  padding-left: 0%;
  color: #4E6172;

}
hr {
  border: 2px solid #4E6172;
  border-radius: 5px;
}

img {
    border-radius: 50%;
    height: 70%;
    width: 100%;
}


.prof-pic {
  padding-top: 10%;
  padding-bottom: 10%;
  color: #4E6172;
}

.desc {
  margin-top: 20%;
  position: relative;
  text-align: left;
  border-radius: 5%;
  color: #4E6172;
}

button {
  background-color: #4E6172;
  color: white;
}

h5 {
  text-align: center;
}
