<div class="container-fluid">
<div class="row">
  <div class="col-lg-12">
    <div class="about-header">
      <h4>Animals Up For Adoption</h4>
      <hr>
    </div>
  </div>
</div>
</div>
<!-- start-->
<div class="container">

  <div class="row">

    <div class="col-lg-3">
      <div class="prof-pic">
        <h5>Tito</h5>
        <img src="assets/img/Tito.jpg" class="img-circle">

      </div>
    </div>

    <div class="col-lg-9">

        <!-- row start-->
      <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
          <div class="desc">
            <strong><label>Description:</label></strong>
              <p>Budgie Parakeet originally from the outback of Austrialia bred to keep in your home. Tito is the toughest bird in the east.</p>

          </div>
          </div>
        <div class="col-lg-2">

        </div>
      </div>
      <!-- row end-->
      <!-- row start-->
      <div class="row">

        <div class="col-lg-2">

        </div>

        <div class="col-lg-8">


        </div>

        <div class="col-lg-2">
          <a routerLink="/adoptForm"><button type="button" class="btn btn-primary-outline pull-right" name="button">Adopt</button></a>

        </div>

      </div>
      <!-- row end-->

    </div>

  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-lg-3">
      <div class="prof-pic">
        <h5>Blu</h5>
        <img src="assets/img/Blu.jpg" class="img-circle">

      </div>
    </div>

    <div class="col-lg-9">

        <!-- row start-->
      <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
          <div class="desc">
            <strong><label>Description:</label></strong>
              <p>This special bird was a rescue from hurricane katrina. He was found with many scars but is now healed and ready to find forever home.</p>

          </div>
          </div>
        <div class="col-lg-2">

        </div>
      </div>
      <!-- row end-->
      <!-- row start-->
      <div class="row">

        <div class="col-lg-2">

        </div>

        <div class="col-lg-8">


        </div>

        <div class="col-lg-2">
          <a routerLink="/adoptForm"><button type="button" class="btn btn-primary-outline pull-right" name="button">Adopt</button></a>

        </div>

      </div>
      <!-- row end-->

    </div>

  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-lg-3">
      <div class="prof-pic">
        <h5>Cornelius</h5>
        <img src="assets/img/Cornielius.jpg" class="img-circle">

      </div>
    </div>

    <div class="col-lg-9">

        <!-- row start-->
      <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
          <div class="desc">
            <strong>  <label>Description:</label></strong>
              <p>This is a Chameleon from Madagascar. He was named after Cornelius Vanderbilt</p>

          </div>
          </div>
        <div class="col-lg-2">

        </div>
      </div>
      <!-- row end-->
      <!-- row start-->
      <div class="row">

        <div class="col-lg-2">

        </div>

        <div class="col-lg-8">


        </div>

        <div class="col-lg-2">
          <a routerLink="/adoptForm"><button type="button" class="btn btn-primary-outline pull-right" name="button">Adopt</button></a>

        </div>

      </div>
      <!-- row end-->

    </div>

  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-lg-3">
      <div class="prof-pic">
        <h5>Sparky</h5>
        <img src="assets/img/dog_adopt1.jpeg" class="img-circle">

      </div>
    </div>

    <div class="col-lg-9">

        <!-- row start-->
      <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
          <div class="desc">
            <strong><label>Description:</label></strong>
              <p>This dog was saved and brought to the shelter from the wildfires in California.</p>

          </div>
          </div>
        <div class="col-lg-2">

        </div>
      </div>
      <!-- row end-->
      <!-- row start-->
      <div class="row">

        <div class="col-lg-2">

        </div>

        <div class="col-lg-8">


        </div>

        <div class="col-lg-2">
          <a routerLink="/adoptForm"><button type="button" class="btn btn-primary-outline pull-right" name="button">Adopt</button></a>

        </div>

      </div>
      <!-- row end-->

    </div>

  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-lg-3">
      <div class="prof-pic">
        <h5>Milow</h5>
        <img src="assets/img/cat_adopt1.jpg" class="img-circle">

      </div>
    </div>

    <div class="col-lg-9">

        <!-- row start-->
      <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
          <div class="desc">
          <strong>  <label>Description:</label></strong>
              <p>This cat was born and rasied on the streets of pistol wavin New Haven. Looking for a forever home to retire from the streets.</p>

          </div>
          </div>
        <div class="col-lg-2">

        </div>
      </div>
      <!-- row end-->
      <!-- row start-->
      <div class="row">

        <div class="col-lg-2">

        </div>

        <div class="col-lg-8">


        </div>

        <div class="col-lg-2">
          <a routerLink="/adoptForm"><button type="button" class="btn btn-primary-outline pull-right" name="button">Adopt</button></a>

        </div>

      </div>
      <!-- row end-->

    </div>

  </div>
</div>
