<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <div class="about-info">
        <h4>Info</h4>
        <p>Wild Planet, located in North Haven, Connecticut, aims to provide a temporary home and care for all types of animals, from dogs and cats to exotic birds and reptiles. We thoroughly believe that all animals deserve a second chance at happiness and love. To ensure this, we carefully match adopting families with animals that will compliment their lifestyles and needs.</p>
      </div>
    </div>
    <div class="col-lg-2">

    </div>
  </div>
<div class="row">
  <div class="col-lg-12">
    <div class="about-header">
      <h4>Founder Profiles</h4>
      <hr>
    </div>
  </div>
</div>
</div>
<div class="container">

  <div class="row">
    <div class="col-lg-2">
      <div class="prof-pic">

        <img src="assets/img/ant_pic.jpg" class="img-circle">
        <h5>Anthony Cuomo</h5>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="background">
        <label for="background">Background: </label>
        <p>
          Software Engineering major at Quinnipiac

          </p>

      </div>

    </div>
    <div class="col-lg-5">
      <div class="desc">
        <label for="description">Description: </label>
        <p>
      Love for animals matched by few
    </p>
      </div>

    </div>

  </div>
  <div class="row">
    <div class="col-lg-2">
      <div class="prof-pic">

        <img src="assets/img/women_filler.jpg" class="img-circle">
          <h5>Monica Mendiburu</h5>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="background">
        <label for="background">Background: </label>
        <p>Pre-Vet Major</p>

      </div>

    </div>
    <div class="col-lg-5">
      <div class="desc">
          <label for="description">Description: </label>
          <p>Love for animals matched by none
          </p>

      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <div class="prof-pic">

        <img src="assets/img/man_filler.png" class="img-circle">
          <h5>Daniel Dresselhouse</h5>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="background">
          <label for="background">Background: </label>
          <p>Software Engineering major at Quinnipiac </p>

      </div>

    </div>
    <div class="col-lg-5">
      <div class="desc">
          <label for="description">Description: </label>
          <p>Nicknamed "The Machine"</p>

      </div>

    </div>
  </div>
</div>
