.container-flex {
  display: flex;
}
.donate-nav > ul {
  list-style-type: none;
}
.number {
  display: inline;
  margin-left: 15%;
}
#first {
  margin-left: 2.5%;
}
.description {
  display: inline;
  margin-left: 2.5%;
}
.donate-form {
  margin-left: 10%;
  width: 30%;
}
.donate-header {
  text-align: center;
  background-color: #BDD09C;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: -3%;
}
.form-tab > p {
  color: white;
  margin-left: 10%;
  margin-bottom: 1%;
  margin-top: 3%;
}
input {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.donate-header > h3 {
  color: #4E6172;
}
.donate-body {
  background-color: #668D3C;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.donate-body > button {
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.donate-mission {
  width: 40%;
  margin-left: 10%;
  color: #4E6172;
}
.mission-body {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
hr {
  border: none;
  background-color: #4E6172;
  height: 2px;
}

button {
  background-color: #4E6172;
  color: white;
}
