
<div class="container-flex">
  <div class="donate-form">
    <div class="donation">
      <div class="donate-header">
        <h3>Donate to Wild Planet</h3>
      </div>
      <div class="donate-body">
        <form id="donateForm">
          <div class="form-tab">
            <p>Amount: </p>
            <input type="text" name="amountInput" placeholder="$0.00">
          </div>
          <div class="form-tab">
            <p>Name:</p>
            <input type="text" name="nameInput" placeholder="E.g. John Smith">
            <p>Address:</p>
            <input type="text" name="addressInput" placeholder="E.g. 1000 Main Street">
            <p>State:</p>
            <input type="text" name="stateInput" placeholder="E.g. Rhode Island">
            <p>Email:</p>
            <input type="text" name="emailInput" placeholder="E.g. example@example.com">
          </div>
          <div class="form-tab">
            <p>Card Number:</p>
            <input type="text" name="cardInput" placeholder="xxxx-xxxx-xxxx-xxxx">
            <p>Expiration Date:</p>
            <input type="text" name="expirationInput" placeholder="mm/yyyy">
          </div>
        </form>
        <button type="button"  class="btn btn-primary-outline pull-right">Donate</button>
      </div>
    </div>
  </div>
  <div class="donate-mission">
    <h1>Donation Mission</h1>
    <hr size="3">
    <div class="mission-body">
      <p>As a nonprofit, we depend on the generosity of individual donors to help us fund our mission. Your generous donation allows us to create amazing enclosures to give animals a fighting chance. Please become a Wild Planet member by donating today. Donations of $50+ will receive a Wild Planet gift!</p>
    </div>
    <hr size="30">
  </div>
</div>
