<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="about-header">
        <h4>Surrender An Animal</h4>
        <hr />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <div class="surrend-info">
        <p>Wild Planet will help thousands of animals find their forever homes. No animal is ever turned away. We take in every animal surrendered to us regardless of its health, age, breed, or behavior. Here at Wild Planet we encourage no judgment and anonymous surrenders.
</p>
      </div>
    </div>
    <div class="col-lg-2">

    </div>
  </div>
<div class="row">
  <div class="col-lg-12">
    <div class="about-header">
      <h4>Make A Surrender Appointment</h4>
      <hr>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <div class="prof-pic">

      </div>
    </div>
    <div class="col-lg-8">
      <div class="surrend-info">
        <p>Call our Helpline at 555-555-5555 to schedule an appointment to surrender your pet to Wild Planet. You may bring your pet to the location of Wild Planet.
</p>
      </div>

    </div>
    <div class="col-lg-2">

    </div>
  </div>
</div>
