/* aboutComponent's private CSS styles */
* {
 /*box-sizing: border-box;
   border: 1px solid red;*/
}
.about-header {
  text-align: center;
  padding-left: 0%;
  color: #4E6172;

}
hr {
  border: 2px solid #4E6172;
  border-radius: 5px;
}

img {
    border-radius: 50%;
    height: 70%;
    width: 100%;
}

.surrend-info {
  text-align: center;
  margin-bottom: 5%;
}

.prof-pic {
  padding-top: 10%;
  padding-bottom: 10%;
}

.background {
  margin-top: 5%;
  padding-top: 20%;
  padding-bottom: 10%;
  position: relative;
  height: 90%;
  background-color: #668D3C;
  color: white;
  text-align: left;
  border-radius: 5%;
}

.desc {
  margin-top: 5%;
  padding-top: 20%;
  padding-bottom: 10%;
  position: relative;
  height: 90%;
  background-color: #668D3C;
  color: white;
  text-align: left;
  border-radius: 5%;
}
p {
  color: #4E6172;
}
