/* HomeComponent's private CSS styles */
* {
/* box-sizing: border-box;
   border: 1px solid red; */
}

#main {
  border-style: solid;
  border-width: 0px 6px 0px 0px;
  border-color: #4E6172;
  color: #4E6172;
}

.selected {
  background-color: #CFD8DC !important;
  color: #4E6172;
}
.events {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding-top: 1%;
  padding-left:30%;
  width: 26em;
  color:#668D3C;
  font-weight: bold;
}
.events li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #BDD09F;
  margin: .5em;
  padding: .3em 0;
  height: 2.6em;
  border-radius: 4px;
}
.events li.selected:hover {
  background-color: #BBD8DC !important;
  color: #668D3C;
}
.events li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.events .text {
  position: relative;
  top: -3px;
}
.events .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #4E6172;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 3.1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

hr {
  border: 2px solid #4E6172;
  border-radius: 5px;
}

.event-header {
  text-align: center;
  padding-left: 25%;
  color: #4E6172;

}
h5 {
  color: #4E6172;
}
.news-header {
  text-align: center;
  padding-left: 0%;
  color: #4E6172;

}
label {
  color: #4E6172;
  margin-bottom: 1%;
}

h4 {
  color: #4E6172;
}
p {
  margin-top: -5px;
  color: #4E6172;
}
.card {
  border-width: 3px;
  border-color: #4E6172;
}
