<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <div class="news-header">
        <h2>Recent News</h2>
        <hr>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="event-header">
        <h2>My Events</h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="card" style="width: 25rem;">
            <img class="card-img-top" src="assets/img/dog1.PNG" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Wildfire Victims</h5>
              <p class="card-text">Northeast Animal Shelter says they’ve now taken in a total of 11 dogs from rescue partner Saving Gizmo’s Friends. That shelter has been “severely affected” by the devastating fires, and they need to free up space for lost and abandoned pets.</p>
            </div>
          </div>
        </div>
        <div id="main" class="col-lg-4">
          <div class="card" style="width: 25rem;">
            <img class="card-img-top" src="assets/img/dog2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Thanksgiving for Shelters</h5>
              <p class="card-text">For dogs and cats in most animals shelters, Thanksgiving is just another day spent waiting for a home they can be thankful for. At some shelters, though, the holiday is marked with a special meal: turkey and all the trimmings, prepared in a way that won’t harm their health.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <ul class="events">
            <li *ngFor="let event of events" [class.selected]="event === selectedEvent" (click)="onSelect(event)">
              <span class="badge">{{event.id}}</span> {{event.name}}
            </li>
          </ul>
          <div *ngIf="selectedEvent">

            <h4>{{selectedEvent.name | uppercase}} DETAILS</h4>
            <!-- <div><span>id: </span>{{selectedEvent.id}}</div> -->
            <div>
              <strong><label>Description:
                <!-- <input [(ngModel)]="selectedEvent.desc" placeholder="description"> -->
              </label></strong>
               <p>{{selectedEvent.desc}}</p>
            </div>

          </div>

        </div>
    </div>
    </div>
  </div>
</div>
