/* aboutComponent's private CSS styles */
/* * {
 box-sizing: border-box;
   border: 1px solid red;
} */

.vol-form {
  position: relative;
  height: 90%;
  color: white;
  text-align: left;
  border-radius: 5%;
  padding: 2%;
}
.col-lg-6 {
  background-color: #668D3C;
  border-radius: 5%;
}
label {
  padding-left: 5%;
}
.header {
padding-top: 5%;
color: #4E6172;
background-color: #BDD09F;
height:5%;
width:100%;
border-radius: 5%;
}
button {
  margin-top: 2%;
  margin-left: 110%;
  margin-bottom: 5%;
  color: white ;
  background-color:#4E6172;
}

p {
  text-align: center;
}
