<div class="container">
  <div class="vol-form">
    <div class="col-lg-6">
  <div class="row">
    <div class="header">
      <p>Sign Up to Volunteer Today!</p>
    </div>
  </div>
  <div class="row">
    <label>
    Name:
    <input type="text" [formControl]="name">
    </label>
  </div>

  <div class="row">
    <label>
    Address:
    <input type="text" [formControl]="address">
    </label>
  </div>

  <div class="row">
    <label>
    Age:
    <input type="text" [formControl]="age">
    </label>
  </div>
  <div class="row">
    <label>
    Email:
    <input type="text" [formControl]="email">
    </label>
  </div>
  <div class="row">
    <a routerLink="/"><button type="button" class="btn btn-primary-outline pull-right" name="button">Submit</button></a>

  </div>
</div>
</div>

</div>
